html,
body,
#app {
  margin: 0;
  width: auto;
  height: auto;
  background-color: aliceblue;
}

#app {
  background-color: azure;
}

#canvas {
  position: relative;
  top: 0px;
  left: 0px;

  z-index: 100;

  width: 1000px;
  height: 600px;

  background-color: white;
}

#video {
  position: relative;
  top: 0px;
  left: 0px;

  z-index: 10;

  width: 1000px;
  height: 600px;

  background-color: white;
}
